@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }
}

.animate-text {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards, fadeOutUp 1s ease-in forwards 2s;
}

.delay-200 {
  animation-delay: 0.2s, 2.2s;
}

.delay-400 {
  animation-delay: 0.4s, 2.4s;
}
